* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*tirando tamanhos pré definidos da estrutura HTML*/
}

:root {
    /*Paleta de cores*/
    --laranja: #E05C11;
    --azul: #2E3F6A;
    --branco: #fff;
    --preto: #000;
    --cinza_claro: #E0DCDC;
    --cinza_escuro: #828181;
    /*fonte*/
    --fonte: 'Ubuntu', sans-serif;
}


/*HEADER*/

header {
    width: 100%;
    border-bottom: 1px solid #E0DCDC;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posicionamento_header {
    width: 80%;
    max-width: 1400px;
    display: flex;
}

.posicionamento_header img {
    margin-right: 100px;
}

.menu_barras {
    display: none;
}


.menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-family: var(--fonte);
    color: var(--azul);
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}


/*FIM HEADER*/


/*MAIN GERAL*/

.posicionamento_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posicionamento_main h1 {
    display: none;
    visibility: hidden;
    /*deixando o h1 visível apenas no leitor de tela*/
}


/*FIM MAIN GERAL*/


/*SESSAO 1*/

.container_1 {
    margin-top: 40px;
    width: 80%;
    max-width: 1400px;
    display: flex;
}

.produto {
    width: 764px;
    height: 100%;
    max-height: 620px;
    border: 1px solid #E0DCDC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.produto img {
    width: 70%;
    max-width: 50vh;
}

.produto_descricao {
    display: flex;
    flex-direction: column;
}

.produto_descricao h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    font-family: var(--fonte);
    color: var(--laranja);
}

.produto_descricao p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--fonte);
    color: var(--cinza_escuro);
}

.produto_valor span,
.produto_valor p {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--azul);
    font-family: var(--fonte);
    margin: 0;
}

.produto_valor p {
    margin-top: 10px;
}

.linha {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #E0DCDC;
}

#recursos {
    display: none;
}

.header_recursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_recursos h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    font-family: var(--fonte);
    color: var(--laranja);
}

.conteudo_recursos ul {
    padding: 20px;
}

.conteudo_recursos li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--cinza_escuro);
    font-family: var(--fonte);
}




/*FIM SESSAO 1*/


/*SESSAO 2*/

.container_2 {
    width: 80%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.container_2 h4 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    font-family: var(--fonte);
    color: var(--laranja);
    margin-top: 100px;
    margin-bottom: 100px;
}

.feed_depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*CARDS*/

.card_depoimentos {
    width: 795px;
    height: 411px;
    left: calc(50% - 795px/2 + 0.5px);
    top: 1164px;
    border: 1px solid #E0DCDC;
    border-radius: 5px;
    padding: 22px;
    margin-bottom: 40px;
}

.header_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_depoimentos {
    display: flex;
    align-items: center;
}

.user_depoimentos img {
    margin-right: 10px;
}

.nome_user span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--cinza_escuro);
    font-family: var(--fonte);
}

.avaliacao_depoimentos ul {
    display: flex;
}

.avaliacao_depoimentos li {
    list-style: none;
    margin-right: 6px;
}

.titulo_local h5 {
    margin-top: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--cinza_escuro);
    font-family: var(--fonte);
}

.titulo_local span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--azul);
    font-family: var(--fonte);
}

.descricao_card p {
    margin-top: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--cinza_escuro);
    font-family: var(--fonte);
}

.imagem_produto {
    margin-top: 46px;
}

.imagem_produto img {
    margin-right: 21px;
}


/*FIM CARDS*/


/*FIM SESSAO 2*/


/*FOOTER*/

footer {
    width: 100%;
    background-color: var(--laranja);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 387px;
}

.posicionamento_footer {
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_footer {
    width: 295px;
    height: 63px;
}

.contato_footer nav {
    display: flex;
    justify-content: space-between;
}

.contato_footer nav a {
    text-decoration: none;
}

.contato {
    display: flex;
    margin-top: 40px;
}

.contato a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--fonte);
    margin-left: 15px;
}



/*FIM FOOTER*/


/*responsivo tablet*/

@media (max-width: 768px) {


    header {
        position: relative;
        align-items: center;
    }

    .posicionamento_header {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;

    }

    .menu_barras {
        display: initial;
        position: absolute;
        z-index: 1;
        margin: -12px;

    }



    #menu_links {
        display: none;
        text-align: center;


    }

    .menu a {
        color: var(--laranja);
        margin-right: 0;
    }

    .divisao {
        margin-top: 40px;
        margin-bottom: 40px;
        border: 1px solid var(--laranja);
    }


    .menu {
        position: absolute;
        background-color: var(--cinza_claro);
        height: 600px;
        margin-top: 550px;
        width: 100%;
        border-radius: 5px;
        padding: 50px;
    }



    .posicionamento_header img {
        margin-right: 270px;
        margin-top: 20px;
        margin-bottom: 20px;
    }



    .container_1 {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .produto {
        width: 80%;
    }

    .produto img {
        width: 70%;
        max-width: 50vh;
    }

    .produto_descricao {
        width: 80%;
    }

    .produto_descricao h2 {
        margin-top: 20px;
    }

    .card_depoimentos {
        width: 80%;
        height: auto;
    }

    .header_card {
        flex-direction: column-reverse;
    }

    .user_depoimentos {
        margin-top: 20px;
    }

    .posicionamento_footer {
        flex-direction: column-reverse;
    }

    .logo_footer {
        margin-top: 40px;
    }
}


/* FIM responsivo tablet*/

/* responsivo celular*/

@media (max-width: 624px) {

    .posicionamento_header img {
        width: 60%;
    }

    .menu_barras {
        display: initial;
        position: absolute;
        z-index: 1;
        right: 5px;
    }

    .logo_footer {
        width: 155px;
        height: 33px;
    }
}

/* FIM responsivo celular*/